:root{
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
}
legend {
    text-align: center;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

header {
    background-color: green;
}

footer {
    background-color: blanchedalmond;
    grid-row: 2;
    grid-column: 1 / -1;
}

main {

}

svg{
    height: 1rem;
    width: 1rem;
}


#main-search-bar{
    background-color: lightgray;
    border-radius: 1rem;
    width: 60%;
    height: 1rem;
    border-color: transparent;
}

.search-bar{
    display: flex;
    flex-flow: row wrap;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
}

.display-button{
    display: flex;
    flex-flow: row wrap;

}

.display-button-actions{
    display: flex;
    flex-flow: row wrap;
    width : 500px;
    justify-content: space-around;
    align-items: center;
}

.action-buttons button{
    border-color: transparent;
    background-color: transparent;
}

.display-button-actions input{
    border-radius: 3rem;
    background-color: cyan;
    max-height: 2rem;
    color: white;
    border-color: transparent;
}

.search-bar{
    display: flex;
    flex-flow: row wrap;
}

.action-buttons{
    display: flex;
    width: 300px;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

search{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
