
@font-face {
    font-family: 'BigParty4Blue';
    src: url('bigparty4blue-font/misc/BigParty4Blue-0f5b.woff2') format('woff2');
}
div#intro {
   font-family: 'BigParty4Blue';
   background-color: antiquewhite;
   font-size: 4rem;
}

#testing{
    width: 100%;
    height: 10vh;
    font: 3rem;
}

.navigation{
    display: contents;
}

.many{
    height: 100rem;
    margin: 100rem;
    padding: 100rem;
}

.navigation .linkk a:not([data-complete = "true"]) a {
    display: none;
}

table{
    border-collapse: collapse;
}

td,th{
    border:  0.1rem solid aqua;
}
.navigation{
  display: inline-flexbox;
}

body{
  background:linear-gradient(90deg,blue,red)
}

:root{
  --calu : white
}
/*root should be variable base